<div class="product-grid">
   {foreach $products as $product}
    <div class="product-card">
      <div class="product-title">{$product['name']}</div>
      <div class="product-price">{$product['price']}</div>
    </div>
   {/foreach}
</div>