services:
	- App\Core\RouterFactory::createRouter
	- App\Model\ProductService
	- App\Model\UserService
	- App\Presentation\BasePresenter


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
