{block title}Home{/block}

{block content}
  {include '_hero.latte'}
	
	<div id="products">
		<h2>Features Products</h2>
  {if $currentUser}
    <a n:href="Product:create" class="btn-primary">Produkt erstellen</a>
	{/if}
		{* {include '../Product/_productGrid.latte', products => $products} *}
	</div>
{/block}
